body {
    background-color: #ddd;    
}

/* label underline focus color */
.input-field input[type=number]:focus {
    border-bottom: 1px solid #0091ea;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=number].valid {
    border-bottom: 1px solid #2e7d32;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=number].invalid {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #000;
}